<section>

	<% @category.links.each do |l| %>

		<div class="link">

				<div class="details">
						<h3><%= link_to l.name %></h3>
						<p><%= l.description %></P>
							<p><%= link_to l.url, l.url %></p>
				</div>

				<div class="actions">
					<%= link_to "Edit", edit_category_link_path (@category, l), class: "edit" %>
				</div>

		</div>
	<% end %>

</section>
<%= link_to "Add new link", new_category_link_path(@category), class: "button" %>
<%= link_to "Back to the categories", root_path, class: "button" %>


